.sell-board {
  position: relative;
  margin: 30rpx 30rpx 0rpx 30rpx;
  border-radius: 16rpx;
  overflow: hidden;
  // border: 2rpx dashed #d0d0d0;

  .board-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  .board-header {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 33rpx 23rpx 28rpx 23rpx;

    .header-left {
      display: flex;
      align-items: center;
      gap: 12rpx;

      .icon-logo {
        width: 32rpx;
        height: 32rpx;
      }

      .title {
        font-size: 28rpx;
        font-weight: 600;
        color: #5a3d8f;
      }
    }

    .header-right {
      display: flex;
      align-items: center;
      gap: 8rpx;
      background: #ffffff;
      border-radius: 20rpx;
      opacity: 0.54;
      width: 110rpx;
      height: 40rpx;
      display: flex;
      align-items: center;
      justify-content: center;

      .more-text {
        font-size: 24rpx;
        color: #9b8bb5;
      }

      .icon-triangle {
        width: 20rpx;
        height: 20rpx;
      }
    }
  }

  .board-content {
    position: relative;
    z-index: 1;
    margin: 0 24rpx 26rpx;
    padding: 15rpx 24rpx 15rpx 24rpx;
    background-color: #ffffff;
    border-radius: 20rpx;
    display: flex;
    align-items: center;
    height: 63rpx;

    .notice-swiper {
      width: 100%;
      height: 100%;

      .swiper-item {
        display: flex;
        align-items: center;
        height: 100%;
      }
    }

    .content-text {
      font-family: Source Han Sans CN;
      font-weight: 400;
      font-size: 26rpx;
      color: #6e6e6e;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
